/*HEADER*/
div.txt {float:left;width:100%; max-height:270px;background:url(../../img/nav/bg-txt.png) bottom left repeat-x;}
.inner header section .txt ul.subnav { float:left; width:100%;}

.sens a, .ceo a, .press a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	}

.sensmain {float:left; width:100%; border-right:solid 1px #EEE; }
.sens  {float:left; width:100%;border-left:none; margin:36px 0 0 0;border-top:solid 1px #EEE!important;}
.sens  a {
float:left; display:block; width:90%; padding:10px 5% 10px 5%; height:auto;
color:#4A4A4A; font-size:20px;
border:none!important; border-right:solid 1px #EEE!important; border-bottom:solid 1px #EEE!important;
}
.sens a:hover,
.sens a.show {
    display:block;
    float:left;height:auto;
	color:#F48422!important;
	background:#EEE;
	  position:relative; top:0;
}
.sens a:hover {color:#4A4A4A;}

.sensmain .big h2 {background:#FFF;padding:20px 0px 20px 0px; display:block; font-size:25px; color:#F68400; font-weight:400;
border:none!important;}

.sensmain .big h3 {padding:20px 0px 20px 0px; display:block; font-size:25px; color:#F68400; font-weight:400;
border:none!important; max-width:50%;}

.sensmain .big p {padding:0px 0px 10px 0px; display:block; font-size:12px; color:#666; font-weight:400;
border:none!important; max-width:75%;}
 
.sensmain .big {
    width:100%;
    height:100%;
    display:none;
}
.sensmain .big.show {
	float:left;
    display:block;
	 min-height:400px;max-height:500px; border-bottom:solid 1px #EEE;
	 overflow:auto;
}



ul.sensannounce  {margin:10px 0 0 0; padding:0; width:100%; list-style:none;}
ul.sensannounce li {margin:0;float:left;width:97%; padding-right:3%; line-height:125%; margin-bottom:10px;}
ul.sensannounce li p { display:block;font-size:12px; color:333; max-width:75%;}
ul.sensannounce li p strong {margin:0 0 5px 0; font-size:15px; color:#F68400; display:block; font-weight:700;}
ul.sensannounce li p a { padding:5px 10px 5px 10px; display:block; position:relative; background:#F68400;
border-radius:3px; color:#FFF; margin-top:10px; max-width:200px;}
ul.sensannounce li p a:hover {background:#999;}
ul.sensannounce li p a span { font-size:10px; position:absolute; top:5px; right:10px;}

.pressWrapper { padding: 12px 10px; background: #E8E9E9; overflow: hidden; }
.ceomain, .pressmain {float:left; width:100%;}
.ceo, .press  {float:left; width:100%; border-left:solid 1px #EEE; border-bottom:solid 3px #EEE; margin:20px 0 0 0;}
.press { margin: 0; border-left: none; border-bottom: solid 5px #F48422;}
.pressmain { background: #FFF; }
.ceo  a, .press  a {
	float:left; display:block; width:auto; height:auto;
	padding:20px; background:#FFF;
	color:#4A4A4A; font-size:12px;
	border:solid 1px #EEE!important; border-left:none!important; border-bottom:none!important;
}
.press a { padding: 12px 20px; background: #E8E9E9; border: none!important; border-right: 1px solid #FFF!important; }
.ceo a:hover, .press a:hover,
.ceo a.show, .press a.show {
	display:block;
    float:left; width:auto; padding:20px; height:auto;
	background:#F48422;
	color:#FFF;
	font-size:12px;
	position:relative; top:0;
	  
-webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;
border:solid 1px #EEE!important; border-left:none!important; border-bottom:none!important;
}

.press a:hover,
.press a.show { padding: 12px 20px; border: none!important; border-right: solid 1px transparent!important; }

.ceomain .big h2{background:#FFF;padding:20px 0px 20px 0px; display:block; font-size:25px; color:#F68400; font-weight:400;
border:none!important;}
.pressmain .big h2 {background:#A4A8A9;padding:12px 20px; display:block; font-size:14px; color:#FFF; font-weight:bold;
border:none!important; font-family: 'Open Sans Condensed'; text-transform: none;}

.ceomain .big h3, .pressmain .big h3 {padding:20px 0px 20px 0px; display:block; font-size:25px; color:#F68400; font-weight:400;
border:none!important; max-width:50%;}

.ceomain .big p, .pressmain .big p {padding:0px 0px 10px 0px; display:block; font-size:12px; color:#666; font-weight:400;
border:none!important; max-width:75%;}
 
.ceomain .big, .pressmain .big {
    width:100%;
    height:100%;
    display:none;
}
.ceomain .big.show, .pressmain .big.show {
	float:left;
    display:block;
	 min-height:400px;max-height:500px; border-bottom:solid 1px #EEE;
	 overflow:auto;
}

.pressmain .big.show { min-height: 0; max-height: 230px; border-bottom: 0; }


ul.ceonews  {margin:0; padding:0; width:100%; list-style:none;}
ul.ceonews li {margin:0;float:left;width:30%; padding-right:3%; line-height:125%; min-height:50px;}
ul.ceonews li p {margin:0 0 5px 0; font-size:15px; display:block; font-weight:700; color:#666;}
ul.ceonews li p a strong {color:#FFF;}
ul.ceonews li p a { padding:5px 10px 5px 10px; display:block; position:relative; background:#F68400;
border-radius:3px; color:#FFF; margin-top:5px;}
ul.ceonews li p a:hover {background:#999;}
ul.ceonews li p a span { font-size:10px; position:absolute; top:5px; right:10px;}

ul.pressrelease  {margin:0; padding:0; width:100%; list-style:none;}
ul.pressrelease li {margin:0; padding: 12px 20px 12px 70px; position: relative;}
ul.pressrelease li:nth-child(even) { background: #F6F6F6; }
ul.pressrelease li:before { content: ''; position: absolute; top: 50%; left: 20px; height: 0; width: 24px; border-bottom: 1px solid #F48422; }
ul.pressrelease li:after { content: ''; position: absolute; top: 50%; margin-top: -4px; left: 35px; height: 8px; width: 8px; border-right: 1px solid #F48422; border-bottom: 1px solid #F48422; display: block; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
ul.pressrelease li p { display:block!important;font-size:12px; color:333; max-width:50%; }
.pressmain .big p  { margin: 0; padding: 0; }
ul.pressrelease li p strong {margin:0 20px 0 0; display:inline-block; font-size: 12px; font-weight:400;}
ul.pressrelease li p a { color: #333E3F;}
ul.pressrelease li p a:hover { color: #F48422; }
ul.pressrelease li p a span { text-transform: uppercase; }
ul.pressrelease li p a span.size { font-style: italic; text-transform: lowercase; }
ul.pressrelease li p a span.date,
ul.pressrelease li p a span.external { text-transform: none; padding: 0 20px 0 0; }
ul.pressrelease li p a span.date { color: #333E3F; }
ul.pressrelease .downloadCol { display: block; width: 50%; float: left; position: relative; vertical-align: top; border-bottom: 1px solid #A4A8A9; }
ul.pressrelease div.downloadCol:nth-child(odd):after { content:''; position: absolute; height: 100%; width: 0; right: 0; top: 0; border-right: 1px solid #A4A8A9; z-index: 1; }
ul.pressrelease div.downloadCol:nth-last-of-type(-n+2) { border-bottom: 1px solid #E8E9E9; }

ul.webcast  {margin:0; padding:0; width:100%; list-style:none;}
ul.webcast li {margin:0; padding: 12px 20px 12px 70px; position: relative;}
ul.webcast li:nth-child(even) { background: #F6F6F6; }
ul.webcast li:before { content: ''; position: absolute; top: 50%; left: 20px; height: 0; width: 24px; border-bottom: 1px solid #F48422; }
ul.webcast li:after { content: ''; position: absolute; top: 50%; margin-top: -4px; left: 35px; height: 8px; width: 8px; border-right: 1px solid #F48422; border-bottom: 1px solid #F48422; display: block; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
ul.webcast li p { display:block!important;font-size:12px; color:333; max-width:50%; }
.pressmain .big p  { margin: 0; padding: 0; }
ul.webcast li p strong {margin:0 20px 0 0; display:inline-block; font-size: 12px; font-weight:400;}
ul.webcast li p a { color: #333E3F;}
ul.webcast li p a:hover { color: #F48422; }
ul.webcast li p a span { text-transform: uppercase; }
ul.webcast li p a span.size { font-style: italic; text-transform: lowercase; }
ul.webcast .downloadCol { display: block; width: 50%; float: left; position: relative; vertical-align: top; border-bottom: 1px solid #A4A8A9; }
ul.webcast div.downloadCol:nth-child(odd):after { content:''; position: absolute; height: 100%; width: 0; right: 0; top: 0; border-right: 1px solid #A4A8A9; z-index: 1; }
ul.webcast div.downloadCol:nth-last-of-type(-n+2) { border-bottom: 1px solid #E8E9E9; }

/*TABLES*/
article table { margin:20px 0px 10px 0px}
article table tr td, article table tr td a { color:#4A4A4A;}
article table tr:hover td, tr:hover td a { color:#E17B24;}
article table tr td { padding:10px 15px 10px 15px; width:auto; border-right: solid 2px #FFF;}
article table tr:nth-child(odd) { background:#F6F6F6;}
article table tr:nth-child(even) { background:#FFF;}
article table tr:first-child { background:#A4A8A9; font-weight:600;}
article table tr:first-child td {color:#FFF;}
article table tr td:last-child {border-right:none;}

/*FORMS*/
form { max-width:50%;}
input,
textarea { width:100%; display:block; margin-bottom:5px;}

input[type="submit"] {   
	background: #F68400;
	line-height: 30px;
	color: #FFF;
	font-size: 14px;
	font-weight: 700;
	display: block;
	width: 141px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}
input[type="submit"]:hover {border:none; background:#666; color:#FFF;}

input, textarea, select, option {
	-webkit-appearance: none;
	-moz-appearance: none; /* mobile firefox too! */
	appearance: none;
	outline: none;
	font-family: 'Open Sans';
	min-height: 35px;
	border:solid 1px #CCC;
	padding:0 5px; background:#FFF; 
}
select option { 
	color: #777; 
	border: 0!important; 
	min-height: 0; 
	font-family: 'Open Sans Condensed'; 
	text-transform: uppercase;
}
select::-ms-expand {
    display: none;
}
select { 
	margin-bottom:10px; 
	padding: 7px 35px 7px 5px;
	cursor: pointer; 
	background: #F68400;
	min-height: 0;
	color: #FFF;
	position: relative;
	display: inline-block;
	border: 0!important;
	text-transform: uppercase;
	color: #FFF;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif;
}
.selectWrapper { position: relative; display: inline-block; }
.selectWrapper:after { content:'+'; color: #FFF; line-height: 14px; font-size: 22px; font-weight: 600; width: 14px; height: 14px; position: absolute; right: 5px; top: 10px; }

input:focus, textarea:focus { border:solid 1px #F48422; }

form strong {
	display: block;
	position: relative;
	text-transform: uppercase;
	font-size: 20px;
	color: #777777;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	margin: 20px 0 15px 0;
	line-height: 20px;
}

/*HACKS
ul.subnav li a {font-size:14px; padding:25px 15px 0px 15px!important;}
*/

section > .scrn p.intro {
  max-width: 80%;
  font-size: 14px;
  line-height: 24px;
  color: #4A4A4A;
  font-weight: 600;
}

#prop {background:#EDECE2; padding:20px 20px 20px 20px; border:solid 1px #A3A3A3;}
table.tbltxt { margin:20px 0px 10px 0px; width:100%;}
table.tbltxt td { font-size: 12px; color: #4A4A4A; }
table.tbltxt tr:first-child td,
table.tbltxt tr:first-child:hover td {
  color: #FFF;
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
}
table.tbltxt tr:hover td, table.tbltxt tr:hover td a { color:#E17B24;}

.ruleTB td { border-top: 1px solid #A3A3A3; border-bottom: 2px solid #A3A3A3; }
.ruleTB td:first-of-type { border: 0; }

.ifleft { float:left; width:40%;}
.ifright { float:left; width:60%;}

.col50 {
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0;
}
.clear { clear: both; }

@media screen and (max-width: 768px) {
.ifleft { float:left; width:100%;}
.ifright { float:left; width:100%;}
	}
	
@media screen and (max-width: 640px) {
	.col50 { width: 100%; }
}