/*3. MAIN FOOTER START*/
body .inner > footer {
	margin:0 auto; padding:0%; float:left; width:100%;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	background:#363E40;
	border-top:solid 4px #F48422;
	line-height:36px;
}
body .inner > footer .scrnftr { margin:0 auto; width:100%; max-width:1348px;padding:0px 0px 0px 0px; position:relative; min-height: 36px;}
body .inner > footer a { color:#FFF;}
body .inner > footer a.back-top {
	position:absolute;
	width:auto; text-align:left;
	padding:0 0 0 0;
	color:#FFF;
	font-size:9px; font-weight:400;
	z-index:2;
	line-height:36px;
	}
body .inner > footer a.back-top {
	opacity:1;
	}	
body .inner > footer span {
	position:absolute; top:0px; left:33%;
	width:33%; text-align:center;
	padding:0 0 0 0;
	color:#FFF;
	font-size:9px; font-weight:400;
	z-index:1;
	line-height:36px;
	}	
body .inner > footer p {
	position:relative; top:0px; right:0px;
	font-size:9px; text-align:right;
	margin:0;padding:0 0 0 0;
	width:auto;
	color:#FFF;
	z-index:0;
	line-height:36px;
	}
	
body .inner > footer p a { margin-right:10px;}
/*3. MAIN FOOTER END*/