/* SLIDER */
.unslider { 
	position: relative;
	width: 100%;
	margin: 0;
}
.unslider li { 
	list-style: none;
	margin: 0;
	position: relative;
}
.unslider img {
	width: 100%;
	position: relative;
	-webkit-box-shadow: inset 0 -5px 5px -5px rgba(0,0,0,.2);
	   -moz-box-shadow: inset 0 -5px 5px -5px rgba(0,0,0,.2);
		-ms-box-shadow: inset 0 -5px 5px -5px rgba(0,0,0,.2);
		 -o-box-shadow: inset 0 -5px 5px -5px rgba(0,0,0,.2);
			box-shadow: inset 0 -5px 5px -5px rgba(0,0,0,.2);
}
.unslider:after { content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0;}
.dots { 
	position: absolute; 
	left: 37px; 
	right: 0; 
	bottom: -10px; 
	text-align: left;
	z-index: 2;
	padding: 0;
}
.dots li { 
	width: 29px;
	height: 5px;
	background: #666;
	display: inline-block;
	margin-right: 3px;
	cursor: pointer;
	transition: all .2s ease-in-out;
	color: rgba(0,0,0,0);
	
	-webkit-transition: all .2s ease-in-out; 
	   -moz-transition: all .2s ease-in-out; 
		-ms-transition: all .2s ease-in-out;
		 -o-transition: all .2s ease-in-out; 
			transition: all .2s ease-in-out; 
}
.dots li:hover { background: #999; }
.dots li.active { background: #F48422; }

.unslider .prev,
.unslider .next {
	display: block;
	height: 30px;
	width: 30px;
	background: rgba(255,255,255,.3);
	position: absolute;
	top: 50%;
	z-index: 2;
	margin-top: -15px;
	cursor: pointer;
	
	-webkit-transition: all .2s ease-in-out; 
	   -moz-transition: all .2s ease-in-out; 
		-ms-transition: all .2s ease-in-out;
		 -o-transition: all .2s ease-in-out; 
			transition: all .2s ease-in-out; 
}

.unslider .prev:hover,
.unslider .next:hover { background: #363E40; }

.unslider .prev { left: 37px; }
.unslider .next { right: 37px; }

.unslider .prev:before,
.unslider .next:before { 
	display: block; 
	content: '';
	position: absolute;
	top: 6px;
	height: 0;
	width: 0;
	border-right: 9px solid rgba(255,255,255,.7);
	border-bottom: 9px solid transparent;
	border-top: 9px solid transparent;
}
.unslider .prev:before { 
	left: 10px;
}
.unslider .next:before { 
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	right: 10px;
}
.unslider .prev:hover:before,
.unslider .next:hover:before { border-right: 9px solid rgba(255,255,255,1); }

