@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
body {font-family: 'Open Sans Condensed', sans-serif;}
table,
.ceo a, 
.press a {font-family: 'Open Sans', sans-serif;}

h1, h2, h3, h4, h5, h6 {font-family: 'Open Sans Condensed', sans-serif; margin:0; padding:0; font-size:100%; line-height:100%;}
p, li {font-family: 'Open Sans', sans-serif; margin:0; padding:0; font-size:100%; line-height:150%;}
aside h1, aside h2, aside h3, aside h4, aside h5, aside p { max-width:100%;}
h1 {font-size:25px; color:#777777;}
h2 { color: #777777; font-size: 18px; text-transform: uppercase; }
h6 {
	color: #777;
	font-size: 35px;
	text-transform: uppercase;
	line-height: 1em;
	margin: 30px 0 0 0;
}
p  {font-family: 'Open Sans', sans-serif; padding:0 0 20px 0; font-size:13px; line-height:22px; color:#4A4A4A;}
p strong  {font-family: 'Open Sans', sans-serif; font-size:14px; color:#333E3F; display:block;}
.propFund p strong { color: #4A4A4A; font-weight: 600; line-height: 24px; }

a.more {clear:both;color:#EB9113;}
a.more:hover { background: #363E40; }

ul {margin:0; padding:0 0 10px 0;}
ul li, ol li {margin:0 0 0 20px; font-size:13px;font-family: 'Open Sans', sans-serif; line-height:18px; color:#4A4A4A;}
p.orange{ color: #E06821!important;}
.brokers h1,
.annualrep h1,
aside.news h1,
aside.subscribe h1 { font-size: 33px; }

aside.subscribe h1 span{ font-size:20px; }

aside.news p { font-size: 11px; line-height: 18px; padding: 0px 0px 18px; }
p.nopadd strong {
	padding: 0;
	line-height: 1em !important;
	color: #777 !important;
	
}

.img-responsive{
	display: block;
  max-width: 100%;
  height: auto;

}

table.key tr td ul {margin:0; padding:0 0 5px 0; min-width:100%;}
table.key tr td ul li {top: 10px; margin:0 0 0 40px;  line-height:14px; padding:0 0 5px 15px;  list-style: url(../images/ol.png);}




table tr td p{padding-bottom: 1px !important; padding-top: 7px;}


table tr.rule{border-bottom: 1px solid #000000!important;}

table tr td[valign="middle"] {vertical-align: middle;}





